@using BlazorApp.Components
@using BlazorApp.Services
@inherits EnemyComponent
<div class="card">
    <div class="card-body">
        <h4>@Enemy.Name</h4>

        @foreach (var column in Enemy.BehaviourChartColumns)
        {
            var col = column;
            <button class="btn btn-dark" @onclick="@( c => SetStatus(col) )">@column.Status</button>
        }

        <h2>@Enemy.Status</h2>
        <h2>Dice roll: @DiceRoll</h2>
    </div>
</div>




