@using BlazorApp.Components
@using BlazorApp.Services
@inherits EnemyComponent
<div class="card enemy-card" draggable="true" @ondragstart="((e) => HandleDragStart(e))">
    <div class="card-body">
        <h2 class="card-title">@Enemy.Name</h2>        

        @foreach (var column in Enemy.BehaviourChartColumns)
        {
            var col = column;
            <button class="btn btn-dark" @onclick="@( c => SetStatus(col) )">@column.Status</button>
        }

        <div class="status-roll">
            <h4>Dice roll: @DiceRoll</h4>
            <h4 class="status">@Enemy.Status</h4>
            
        </div>
        <div class="action-container @(IsCollapsed ? "collapsed" : "")" @onclick="Shrink">
            <p>@Enemy.Action</p>
        </div>
    </div>
</div>




