@using BlazorApp.Components
@using BlazorApp.Services
@inherits EnemyComponent
<div class="card enemy-card">
    <div class="card-body">
        <h2 class="card-title">@Enemy.Name</h2>

        @foreach (var column in Enemy.BehaviourChartColumns)
        {
            var col = column;
            <button class="btn btn-dark" @onclick="@( c => SetStatus(col) )">@column.Status</button>
        }

        <h3>@Enemy.Status</h3>
        <h4>Dice roll: @DiceRoll</h4>
    </div>
</div>




